.material-icons{
  cursor: pointer;
}

.navbar-vertical{
    position: absolute;
    left: -17px;
    margin-top: -28px;
    background-color: white;
    transition: height 2s ease;
    transition: right 0.3s linear;
    transition: left 0.3s linear;
    transition: 2s;

}
.imagen_dashboard_slider{
  width: 70px;
  transition: all 0.4s;
  cursor: pointer;

}
.imagen_dashboard_slider_active{
  width: 170px;
  transition: all 0.4s;
  cursor: pointer;
}

.style_sidebar_dashboard {
  position: absolute;
  left: 0px;
  margin-top: -28px;
  background-color: white;
  min-width: 210px;
  max-width: 210px;
  min-height: 100vh;
  transition: all 0.2s;
  align-items:flex-start;
  padding-top: 20px;
}

.style_sidebar_dashboard_active{
  position: absolute;
  left: 0px;
  margin-top: -28px;
  background-color: white;
  min-width: 100px;
  max-width: 100px;
  min-height: 100vh;
  transition: all 0.2s;
  align-items:flex-start;
  padding-top: 20px;


}
.justify-content-center {
    margin-top: 40px;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {

    margin-right: 0px;
    margin-left: -15px;
}
div {
    display: block;
}

.suma{
    border: none;
    height: 50px;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    }

///////////Header//////////

.tamaño{
    margin-top: -14px;
    justify-content: center !important;
    margin-left: 10px;
}
.list-group-item {

    justify-content: space-evenly;
    border-bottom-color: #FFEDA6;
    border-bottom-width: 2px;
    font-size: 20px;
    border-left: none;
    border-right: none;
        &:hover{
          background-color: #FFEDA6;
          border-bottom-color: #FDA71A;
          border-bottom-width: 4px;

        }
        &.cursor-pointer {
            cursor: pointer;
        }

}
.list-group{
    margin-left: 30;
}
///////////////


/////sobreado label para formularios
.color{
    background-color:#d9d9d9;
    height: 36px;
    border-radius: 5px;
    width: 110px;
    color: black;
    align-items: center;
}

.color2{
    background-color:#d9d9d9;
    height: 36px;
    border-radius: 5px;
    width: 57px;
    color: black;
    align-items: center;
}
.disable::before{

}

.boton-suma{
      background-color: #FFEDA6;
      border: none;
      border-radius: 18px;
      font-size: 30px;
      width: 84%;
      height: 152%;
}
////head

a{
    color: black;
    text-decoration: none !important;
    &:hover{
      color: black;
    }
}
.sumadre{
    background-color: #FFEDA6;
    border-bottom-color: #FDA71A;
    border-bottom-width: 4px;
}
////input tipe number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

.aceptar-denegar
{
    border-radius: 24px;
    height: 120px;
}

/////////caja para cobro botones
.caja{
    margin-top: 11% !important;
}

////lineas verticales
.verticalLine {
  border-left: thick solid #FFDE59;
  height: 200px;
  margin-right:40px;
 }
 .cajas{
    height: 67px;
    border-radius: 8px;
    margin-right: 29px;
    background-color: #FFDE59;
    width: 81px;
  }
  .cajas-img{
    margin-left: 12px;
    width: 51px;
    height: 47px;
    margin-top: 7px;
  }
  .poner-hover:hover{
    cursor: pointer;
    background-color: #D9D9D9;
  }
 .verticar-footer{
   background: #D9D9D9;
   position: fixed;
   right: 0px;
   border-left: thick solid #D9D9D9;
   height: -webkit-fill-available;
   width: 78px;

   &:hover{
    .deshabilitar{
      display: block;
    }
        .habilitar{
          display: none;
        }
          width: 160px;
          .imagen{
            width: 70px;
          }
   }
}
.verticar-footer-2{
  background: #D9D9D9;
  position: fixed;
  right: 0px;
  border-left: thick solid #D9D9D9;
  height: -webkit-fill-available;
  width: 78px;


}
.imagen{
  width:95%;
  margin-top: 275px;
}
.deshabilitar{
  display: none;
}
.border-radius-0 {
  border-radius: 0;
}

////////////Cuentasss

.tabla-deshabilitar{
  display: none;

}
.tabla-habilitar{
  display: block;
}

///Caja de subir inmuebles masivamente
.caja-subir-archivo{
  border-width: 2px;
  border-style: dotted;
  border-color: black;
  background-color: #FFDE59;
}

.color-degradado-danaranjo {
  color: black;
}

.ocultar{
  display: none;
}

.dividir{
  margin-top: 10% !important;
}
.buscador{
  margin-top: 30px !important;
}

///Cards - modulo cartera

.quitar-borde {
  border-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.color-caja {
  background-color: #FFDE59;
}

.hover-card {

  justify-content: space-evenly;
  border-bottom-width: 2px;
  font-size: 20px;
  border-left: none;
  border-right: none;
      &:hover{
        background-color: #FFDE59;
        border-bottom-width: 4px;

      }
      &.cursor-pointer {
          cursor: pointer;
      }

}

///////////

/////Ojo iniciar sesion

.style-clear-input {
  position: absolute;
  top: 322px;
  right: 265px;
  color: #717171;
}

/////

///datos conjunto /////////////////

.file{
  display: none;
}
.imagee{
  display: none;
}
.img-foto{
  font-size: 100px;
}
.muestra{
  &:hover{
      .imagee{
            display: block;
      }

  }
}
///disable para los Inmuebles
.form-check-input:checked{
  background-color: #FFDE59;
  border-color: #FFDE59;
}

////Clases rutas

.ruta {
  -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline;
}

 //// clases para conjunto Datos
 .select{
   width: 403px;
 }
 .select2{
   width: 403px;
 }
 .select3{
   width: 602px;
 }

 ///Clase select propietario
 .select-prop{
   margin-left: -6px!important;
   width: 343px!important;
 }

 ///Clase tooltip

 .class-tooltip {
   font-size: 30px;
 }

 .btn-color {
    padding: 0 20px;
    line-height: 40px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.125);;
    cursor: pointer;
}


///Boton de regresar en consejo
.icon-btn{
  vertical-align: -6px;
  margin-right: 0px;
  display: inline-block;
  margin-left: 5px;
}

///Select de tercero

.select-ter {
  width: 336px;
}

///Estilo p cards menu

.interlineado {
  line-height: 20px;
}

.icon-btn{
  vertical-align: -6px;
  margin-right: 5px;
  display: inline-flex;
  margin-left: -5px;
  width: 25px;
  height: 25px;
}

.claseCrea{
    width: 166px;
}

//Estilo boton filtrar en periodos contables
.btn-filtro{
  vertical-align: -5px;
  margin-left: -1px;
  display: inline-flex;
}

.select-docu{
  width: 150px;
}
